.card-header {
    background-color: #4e5b5f;
}
.card-header button {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    padding: 0;
}
.card-header .btn-link:hover {
    text-decoration: none;
    color: #fff;
}
.card-header .btn:focus {
    box-shadow: none;
    text-decoration: none;
}
.cart_name_disp {
    font-size: 20px;
    font-weight: bold;
}
.cart_block:not(:last-child) {
    border-bottom: 1px solid #534c4c;   
}
.assignBtn button {
    padding: 0 10px;
    background-color: #7978ed;
}
.cart_name_disp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_details > div {
    font-size: 12px;
    font-weight: bold;
}
.center_vertical {
    display: flex;
    align-items: center;
}
.floating_btn {
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    min-width: 60%; 
}

.logo_head {
    font-size: 20px;
    text-shadow: 2px 2px #000aff;
    color: #09e6fe;
    font-weight: bold;
}
.purchased_item {
    pointer-events: none;
    opacity: 0.8;
}
.purchased_item label {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}